@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    background-color: #f6efe7;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #644032;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    color: #f7f0e8;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    color: #f7f0e8;
    font-size: 12px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: #644032;
}

.forgot-create {
    display: block;
    margin-bottom: 20px;
    font-size: 10px;
    color: #f7f0e8;
    text-decoration: none;
}

.forgot-create a {
    text-decoration: underline;
}

/* .forgot-create a:hover {} */
    

.login-btn {
    background-color: #dd9b44;
    color: #644032;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #dd9b44e5;
}