@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #f6efe7;
  height: 100%;
  color: #644032;
  overflow: hidden;  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f6efe7;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
}

.icons {
  display: flex;
  gap: 15px;
}

/* GRID PRINCIPAL */
.container {
  padding: 10px 60px;
  display: flex;
  gap: 30px;
  margin: 0 auto;      /* centraliza */
  margin-left: 10px;
}

/* IMAGEM */
.imagem-box {
  width: 25%;
  height: 200px;
  background: #644032;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #932C30;
  color: #f6efe7;
  border: none;
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
}
.seta.esquerda { left: 10px; }
.seta.direita { right: 10px; }

/* DESCRIÇÃO LADO A LADO */
.descricao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

/* COLUNA ESQUERDA */
.col-esquerda h1 {
  font-size: 2rem;
  font-weight: 700;
}

.categoria {
  margin-top: 5px;
  font-weight: 600;
  letter-spacing: 2px;
}

.titulo-destaque {
  margin-top: 20px;
  font-weight: 700;
}

.lista-destaque {
  list-style: none;
  margin-top: 10px;
}

.lista-destaque li {
  margin-bottom: 6px;
  font-weight: 500;
}

/* COLUNA DIREITA */
.col-direita {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.estrelas {
  font-size: 45px;
  color: #932C30;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tags span {
  background: #d68d30;
  padding: 10px 25px;
  border-radius: 6px;
  font-size: small;
  font-weight: 600;
  color: #644032;
  text-align: center;
}

/* BOTÃO */
.btn-avaliar {
  height: 40px;
  background: #932C30;
  color: #f6efe7;
  padding: 12px 35px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.btn-avaliar:hover {
  background: #b6363b;
}

/* Mapa */
.mapa-comentarios {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 30px;
  padding: 20px 60px;
  margin-top: 15px;
  margin-left: 10px;
}

.mapa-box iframe {
  width: 100%;
  height: 260px;
  border: none;
  border-radius: 12px;
}



/* Comentários */

.carrossel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.comentario {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
}

.comentario .usuario {
  font-weight: bold;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.comentario .caracteristica {
  display: flex;
}

.comentario .caracteristica p {
  background-color: #932C30;
  font-size: small;
  color: #f6efe7;
  border: none;
  padding: 6px 30px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.comentario .estrela {
  color: #932C30;
  font-size: 25px;
  margin-top: auto;
  font-weight: 600;
}

.comentario .data {
  font-size: 0.8rem;
  margin-top: auto;
}

.comentario p {
  width: auto;
}

/* ---------- Comentários ------------ */
.slider {
  overflow: hidden;
  position: relative;
}

.slider>.slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  transition: all 500ms ease;
}

.slider>.slider-content>.slider-item {
  flex: 0 10% 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.comentario {
  flex: 0 0 0;
  max-width: 10%;
  background-color: #e8c799;
  padding: 20px;
  border-radius: 10px;
  scroll-snap-align: start;
  box-sizing: border-box;
}

.comentario .usuario {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.comentario .estrela {
  color: #932C30;
  margin-top: 10px;
}

.comentario .data {
  font-size: 0.8rem;
  margin-top: 10px;
}

.slider>input[type="radio"] {
  display: none;
}

.slider>input:nth-of-type(1):checked~.slider-content {
  transform: translateX(0%);
}

.slider>input:nth-of-type(2):checked~.slider-content {
  transform: translateX(-60%);
}

.slider>input:nth-of-type(3):checked~.slider-content {
  transform: translateX(-120%);
}

.slider-nav {
  position: fixed;
  right: 50px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.slider-nav label {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

input#s1:checked ~ .slider-nav label[for="s1"],
input#s2:checked ~ .slider-nav label[for="s2"],
input#s3:checked ~ .slider-nav label[for="s3"] {
  background-color: #932C30
;
}
